.forgot-password-block{
    background-color: #fff;
    padding: 30px;
}
.forgot-password-block p{
    text-align: left;
    margin-top: 25px;
    padding: 5px;
}
.forgot-password-block input[type=text]{
    width: 100%;
    padding: 5px;
}

.forgot-password-block input[type=submit]{
    padding: 15px;
    border: 0;
    text-transform: uppercase;
}