.how-to-buy{
    position: relative;
    background-color: #fff;
    text-align: left;
    padding-bottom: 40px;
}

.how-to-buy .middle-right-block__head{
    background-color: #fff;
}
.how-to-buy-head{
    position: relative;
    background-color: #fff;
}
.how-to-buy-head > img{
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}

.how-to-buy-middle-right-block__head{

    display: table;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #F0F0F0;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    top: -15px;
    font-size: 1.5em;
    letter-spacing: 1px;
}

