html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    min-width: 1198px;
    line-height: 1;
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 1em;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;

}
a{
    outline: none;
}

body {
    position: relative;
    background: #F1F1F1;

}
.mobile-menu{
    display: none;
}

.container {
    width: 1198px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
    min-height: -webkit-calc(100% - 80px);
}

.header-top {
    height: 72px;
}

.header-top-left {
    float: left;
    margin-left: 5px;
    width: 250px;
}
.header-top-left-menu{
    float: left;
    position: relative;
}
.header-top-left-menu > ul{
    display: none;
    padding: 5px;
    z-index: 2;
    position: absolute;
    left: 5px;
    top: 35px;
    background-color: #fff;
    text-align: center;
    
}
.header-top-left-menu i{
    color: #1C4573;
    font-size:2.8em;
}

.header-top-left-menu > ul > li > a{
    font-size: 0.9em;
    white-space: nowrap;
    display: block;
    padding: 12px 35px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.header-top-left-menu > ul > li > a:hover{
    color: #fff;
    background-color: #E6006F;
}

.header-top-left-menu:hover ul{
    display: block;
}
.header-top-left-menu ul:hover{
    display: block;
}


.header-top-left__city {
    margin-left: 60px;
    padding-top: 15px;
    text-transform: uppercase;
}

.header-top-center {
    position: relative;
    float: right;
    margin-right: 20px;

}

.header-top-center > a {
    float: left;
    display: inline-block;
    position: relative;
}

.header-top-center__button {
    font-size: 0.9em;
    text-align: center;
    margin-left: 1px;
    padding: 18px 9px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header-top-center__button-lk {
    font-size: 0.8em;
    position: relative;
    text-align: center;
    margin-right: 5px;
    padding: 18px 15px 18px 5px;
    display: block;
    width: 182px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.header-top-center__button-lk:hover + .lk-submenu{
    display: block;
}
.lk-submenu:hover{
    display: block;
}

.lk-submenu{
    display: none;
    text-align: center;
    width: 182px;
    position: absolute;
    top: 50px;
    padding: 10px;
    z-index: 2;
    background-color: #fff;
}
.lk-submenu > li {
    margin-top: 10px;
}

.lk-submenu > li > a{
    display: block;
    padding: 7px;
    color: #000;
    text-decoration: none;
}
.lk-submenu > li > a:hover{
    background-color: #E6006F;
    color: #fff;
}


.lk-block{
    float: left;
}

.grow-down-button:hover {
    padding: 38px 9px 18px 9px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    border: none;
}

.icon-button {
    padding: 0 15px;
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
    color: #1C4573;
    text-decoration: none;
}

.icon-button > i {
    font-size: 1.8em;
}

.header-top-center__sum {
    float: left;
    font-weight: bold;
    padding: 20px 5px 20px 0;
}

.header-top-center__cart-button img{
     width: 30px;
}

.header-top-center__complete-order-button {
    font-size: 0.9em;
    text-align: center;
    width: 100px;
    margin-left: 15px;
    padding: 11px 7px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.cart-block {
    position: relative;
    float: left;
}

.cart-block:hover .cart-panel {
    display: block;
}

.cart-panel {
    display: none;
    overflow: hidden;
    border-top: 2px solid #E6006F;
    z-index: 2;
    position: absolute;
    top: 48px;
    right: 0;
    width: 448px;
    height: 340px;
    background: #fff;
}

.cart-panel-header {
    padding: 10px;
    position: relative;
}

.cart-panel-header__head-text {
    font-weight: bold;
    font-size: 1.5em;
}

.cart-panel-header__goods-count {
    position: absolute;
    top: 15px;
    right: 15px;
}

.cart-panel-middle {
    font-size: 0.85em;
    height: 190px;
    overflow-y: scroll;
}

.cart-panel-middle table {
    border-collapse: separate;
    border-spacing: 3px 12px;
}

.cart-panel-middle__description > a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
    width: 175px;
    text-overflow: ellipsis;
    color: #1C4573;
}

.cart-panel-middle__sum {
    font-size: 0.88em;
    padding: 0 10px;
}

.cart-panel-middle__delete-from-table {
    font-size: 1.3em;
    text-decoration: none;

}

.cart-panel-bottom {
    padding: 10px 5px 0 5px;
    position: relative;
    bottom: 0;
    height: 120px;
    text-align: center;
    background: rgba(228, 228, 228, 0.9);
}

.cart-panel-bottom p {
    padding: 5px;
    font-weight: bold;
}

.cart-panel-bottom__sum {
    font-size: 1.4em;
}

.cart-panel-bottom > a {
    display: block;

    margin: 10px auto;
    width: 180px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}

.header-top-right {
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 18px;
}

.button-numeric-notification {
    font-size: 0.8em;
    border-radius: 50%;
    color: #fff;
    background-color: #E6006F;
    padding: 4px;
    position: absolute;
    top: -13px;
    left: 8px;
    min-width: 15px;
    display: block;
    min-height: 15px;
    text-align: center;
}

.header-top-center__button > a > i {
    color: #1C4573;
    font-size: 2.6em;
    margin-left: 10px;
}

.header-search {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.header-search-left {
    flex: 0 0 20%;
    margin: 0 5px;
}

.header-search-right {
    flex: 1 0 25%;
    text-align: center;
    padding: 5px;
}

.header-search-right__input {
    width: 810px;
    border-radius: 0;
    padding: 10px;
    border: 1px solid #1C4573;
}

.header-search-right__button-search {
    position: relative;
    right: 5px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.middle-left {
    flex: 0 0 20%;
}

.middle-left__head {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    background-color: #1C4573;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
}

.catalog {
    position: relative;
    cursor:pointer;
}

.catalog > li {
    line-height: 1.15em;
}

.catalog a {
    font-size: 0.9em;
    color: #000;
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    text-transform: uppercase;
    outline: none;
}

.catalog > li > a:hover {
    color: #FFF;
    background-color: #E6006F;
}
.catalog > li:hover .submenu-wrap {

    display: flex;
}
.catalog > li:hover > a {
    color: #FFF;
    background-color: #E6006F;
}

.submenu-wrap {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    border: 2px solid #E6006F;
    position: absolute;
    top: 0;
    left:238px;
    width: 900px;
    background-color: #fff;
    z-index: 2;
    min-height: 510px;
    max-height: 905px;
    overflow-y: scroll;
    padding: 20px;

}

.inner-submenu-wrap{
    margin: 8px;
    width: 250px;
}

.submenu-wrap a:hover{
    color: #E6006F;
}

.submenu-level-1 > li > a{
    font-weight: bold;
}
.submenu-level-2 {
    position: relative;
    display: block;
    margin-left: 25px;
}
.submenu-level-2 > li > a{
    text-transform: none;
    padding: 5px;
}
.submenu-level-2 > li:hover .submenu-level-3{
    display: block;
}
.submenu-level-2 > li{
    position: relative;
}

.submenu-level-3{
    max-width: 140px;
    display: none;
    top: -5px;
    padding: 10px 15px;
    z-index: 3;
    position: absolute;
    right: -110px;
    background-color: #F1F1F1;
}

.submenu-level-3:before {
    background-color: #F1F1F1;
    content: '';
    position: absolute;
    left: -1px;
    border: 8px solid transparent;
    margin-right: -16px;
    transform-origin: 0 0;
    transform: rotate(225deg);
    top: calc(2% + 30px);
}

.submenu-level-3 a{
    font-size: 0.7em;
    text-transform: none;
}

.middle-right {
    padding: 5px;
    flex: 1 0 20%;
    text-align: center;
}

.main-menu > li {
    display: inline-block;
    border-right: 1px solid #DADADA;
    padding: 5px;

}

.main-menu > li:last-child {
    border-right: none;
}

.main-menu > li > a {
    font-size: 1.15em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px;
    color: black;
    margin: 0 7px;
}

.main-menu a:hover {
    background-color: #E6006F;
    color: #fff;
}
.main-menu .active{
    background-color: #E6006F;
    color: #fff;
}

.middle-right-slider {
    margin-top: 20px;
    height: 310px;
    width: 955px;
}

.middle-right-slider a {
    outline: none;
    display: block;
}

.middle-right-goods-slider {
    width: 955px;
}

.goods-item {
    position: relative;
    top: 10px;
    display: inline-block;
    float: left;
    margin-right: 15px;
    background-color: #ffffff;
    width: 215px;
    height: 298px;
}

.goods-item-discount {
    line-height: 1.2;
    width: 71px;
    right: 0;
    top: -10px;
    text-wrap: avoid;
    position: absolute;
    padding: 4px 0;
    height: 25px;
    text-transform: uppercase;
    background-color: #f3e100;
    font-size: 0.6em;
}

.goods-item-discount__item-value {
    font-size: 1.7em;
    font-weight: bold;
    text-align: right;
}

.goods-item-popular {
    color: #fff;
    right: 0;
    top: -10px;
    text-wrap: avoid;
    position: absolute;
    padding: 4px 0;
    width: 71px;
    height: 25px;
    text-transform: uppercase;
    background-color: #E6006F;
}

.goods-item-popular__item1 {
    position: relative;
    left: 10px;
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
}

.goods-item-popular__item2 {
    font-size: 0.65em;
    text-align: right;
    position: relative;
    right: 5px;
}

.goods-item-image {
    width: 100%;
    height: 180px;
    margin-top: 10px;
}

.goods-item__description {
    font-size: 0.9em;
    color: #000;
    margin: 0 auto;
    display: block;
    width: 175px;
    height: 30px;
    overflow: hidden;
    text-decoration: none;
}

.goods-item-bottom {
    padding: 12px;
    text-align: left;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    border-top: 2px solid #F6F6F6;
}

.goods-item-bottom__old-price {
    font-size: 0.8em;
    text-decoration: line-through;
}

.goods-item-bottom__price {
    font-weight: bold;
    font-size: 1.35em;
}

.goods-item-bottom__to-cart {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 36px;
    width: 71px;
    background-color: #1C4573;
}

.goods-item-bottom__to-cart > img {
    position: relative;
    top: 0;
    left: 20px;
    height:34px;
    color: #F1F1F1;
}
.middle-right-block{
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #E3E3E3;
}

.middle-right-block__head{
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #F0F0F0;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    top: -15px;
    font-size: 1.5em;
    letter-spacing: 1px;

}
.middle-blog-item {
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
    height: 343px;
    width: 298px;
    background-color: #FBFBFB;
}

.middle-blog-item__description {
    text-align: left;
    font-size: 1.2em;
    margin-top: 15px;
    margin-left: 15px;
    width: 85%;

}

.middle-blog-item__date {
    bottom: 10px;
    left: 10px;
    position: absolute;
}

.middle-prefooter {
    margin-top: 20px;
}

.middle-prefooter-left {
    position: relative;
    background-image: url('../img/prefooter-banner.jpg');
    background-repeat: no-repeat;
    float: left;
    height: 144px;
    width: 775px;
    color: #fff;
}

.middle-prefooter-left__item1 {
    font-weight: bold;
    text-transform: uppercase;
    width: 262px;
    position: absolute;
    top: 26px;
    left: 35px;
    font-size: 2em;
}

.middle-prefooter-left__item2 {
    position: absolute;
    left: 35px;
    top: 117px;
}

.middle-prefooter-left__item3 {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
}

.middle-prefooter-right {
    background-color: #fff;
    float: left;
    height: 144px;
    width: 150px;
    margin-left: 10px;
}

.middle-prefooter-right > p {
    text-transform: uppercase;
    margin: 15px 0;
}

.middle-prefooter-right > img {
    display: block;
    margin: 5px auto;

}

.middle-prefooter-right > a {
    display: block;
    color: #000;
    padding: 5px;
    text-decoration: none;
}

.footer > .container {
    min-height: auto;
}

.footer {
    border-top: 2px solid #1C4573;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 50px;
}

.footer-left {
    float: left;
    margin: 0 auto;
    min-width: 70%;

}

.footer-left > ul {
    margin-left: 100px;
    display: inline-block;
    float: left;
}

.footer-left > ul > li:first-child {
    text-transform: uppercase;
    color: #898989;
}

.footer-left > ul > li {
    margin-top: 25px;
}

.footer-left > ul > li > a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #3f3e40;
}
.footer-left > ul > li > a:hover{
    text-decoration: underline;
}

.footer-right {
    float: right;
    width: 240px;
    text-align: center;
}

.footer-right > p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    width: 240px;
}

.footer-right > .button-blue {
    display: block;
    padding: 10px 0;
    width: 200px;
    margin: 20px auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

/* --------------- Goods-count block ----------------  */

.goods-count-block{
    font-size: 1.2em;
    text-align: center;
    margin-top: 7px;
    padding: 7px 10px;
    float: left;
    background-color: #E2E2E2;
}
.goods-count-block span{
    margin: 0 15px;
}
.goods-count-block__input{
    background-color: transparent;
    text-align: center;
    border: 0;
    width: 32px;
    font-size: 1em;
    position: relative;
    top: -3px;

}
.goods-count-block__minus{
    font-size: 1.5em;
    text-decoration: none;
    color: #FFF;
}
.goods-count-block__plus{
    font-size: 1.5em;
    text-decoration: none;
    color: #1C4573;
}
/* --------------- Goods-count block ----------------  */
/* ----------------Global ---------------------------- */

.checkbox {
    display: none;
}

.checkbox-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
}

.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #1C4573;

}
.goods-price{
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0;
    font-size: 1.2em;
}

a.to-cart{
    background-color: #375980;
    position: relative;
}
a.to-cart:hover{
    background-color: #E6006F;
}
.text-head{
    padding: 15px;
    text-align: left;
    font-size: 1.8em;
}

.simple-text{
    text-align: left;
    padding: 15px;
    line-height: 1.2;
    font-size: 1.2em;

}
.text-center{
    text-align: center;
}

.text-bold{
    font-weight: bold;
}

.clear {
    clear: both;
}

.phone {
    font-size: 0.9em;
}

.text-blue {
    color: #1C4573;
}

.text-pink {
    color: #E6006F;
}

.button-blue {
    color: #fff;
    background-color: #1C4573;
}

.button-pink {
    background-color: #E6006F;
}


.big-text-head{
    padding:20px 80px;
    text-align: center;
    line-height: 1.4;
    font-size: 1.9em;
}

.two-col-block{
    margin-top: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.two-col-block__left > .simple-text{
    text-align: center;
}
.numeric-text-head{
    font-size: 2em;
    color: #c9c9c9;
}

.stripe-table {
    overflow-y: scroll;
    text-align: left;
    padding: 10px;
    width: 95%;
    margin-left: 25px;
}

.stripe-table tr:nth-child(odd){
    background-color: #EDEDED;
}

.stripe-table th{
    padding: 25px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #fff;
    text-align: left;
}


.stripe-table td{
    max-width: 160px;
    -webkit-appearance: none;
    padding: 25px 35px;
}
.stripe-table td:nth-child(1){

    padding: 15px 80px 0 15px;
}

.dot-grey{
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #BABABA;

}
/* ----------------Global ---------------------------- */

/* ------------ MODAL ---------------   */

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    min-height: 320px;
    margin: 20px auto;
}
.white-popup textarea:focus{
    outline: #1C4573 solid 1px;
}

.mfp-close {
    color: black;
    font-size: 2.5em;
}

.modal-form-left {
    height: 100px;
    float: left;
    width: 180px;
}

.modal-form-left input[type='submit'] {
    width: 100%;
}

.modal-form-right {
    text-align: right;
    float: right;
    width: 190px;
}

.modal-form-right a {
    display: block;
    margin-top: 20px;
    color: #E6006F;
}

.modal-form-simple-text {
    font-size: 0.9em;
    line-height: 1.2;
    margin-top: 15px;
}

.modal-form-title {
    font-weight: bold;
    padding-bottom: 20px;
    color: #1C4573;
    font-size: 1.8em;
}

.modal-form-text-input {
    font-weight: bold;
    margin-top: 10px;

}

.modal-form-text-input > p {
    padding: 5px 0;
}

.modal-form-text-input > input {
    background-color: #f1f1f1;
    padding: 3px;
    margin-top: 5px;
    border: 0;
    height: 25px;
    width: 95%;
}

.modal-form-text-input > input:focus {
    outline: 1px solid #1C4573;
}

.modal-form-textarea {
    padding: 15px;
    border: 0;
    resize: none;
    background-color: #f1f1f1;
    width: 87%;
    height: 150px;
    overflow: hidden;
}

.modal-form-checkbox {
    margin-top: 20px;
}

.modal-form-checkbox input {
    position: relative;
    background-color: #F1F1F1;
    border: none;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.form-submit {
    margin-top: 25px;
    text-align: center;
}

.form-submit > input {
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    border: 0;
    background-color: #1C4573;
}

/* ------------ MODAL ---------------   */